<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campingga.mapper.ItemMapper">
<!-- 리스트 컬럼 -->
<sql id="cols">
	item_no, item_name, content, price, regdate, category, status 
</sql>

	<!-- 신상품 3개 select -->
	<select id="selectNewItems" resultType="itemVO">
		select
		<include refid="cols" />
		from item
		order by regdate desc
		limit 3
	</select>
	
	
	<!-- 전체 리스트 select -->
	<select id="selectList" resultType="itemVO">
		select 
		<include refid="cols" />
		from item
	</select>
	
	<!-- 검색기준으로 리스트 select -->
	<select id="selectListWithPaging" parameterType="criteria" resultType="itemVO">
		
			select item_no, item_name, price, category
			from (
				select
					item_no,
					item_name,
					price,
					category,
					ROW_NUMBER() over(ORDER BY regdate desc) AS rownum
				from item i
				<if test='category != null and category != ""'>
					where category like #{category}
				</if>
			) i
			WHERE
		<![CDATA[
			 rownum > (#{pageNum}-1) * #{amount} and
				  rownum <= #{amount} * #{pageNum}
		]]>
			order by rownum
		
	</select>
	
	<!-- 검색기준 적용한 전체 상품 수 -->
	<select id="selectTotalCount" parameterType="criteria" resultType="int">
		select count(*) from item
		<if test='category != null and category != ""'>
			where category like #{category}
		</if>
		
	</select>
	
	<select id="selectOneItem" parameterType="int" resultType="itemVO">
		select 
		<include refid="cols" />
		from item
		where item_no = #{item_no}
	</select>
</mapper>