<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campingga.mapper.OrderMapper">
	<insert id="insertOrder" parameterType="OrderListVO">
		INSERT INTO orderList
		(ord_no,
		item_no,
		name,
		phone,
		stnum,
		userAddr, 
		userDaddr, 
		mem_id, 
		cart_no, 
		d_memo, 
		amount)
		
		values(#{ord_no},
		#{item_no},
		#{name},
		#{phone},
		#{stnum},
		#{userAddr},
		#{userDaddr},
		#{mem_id},
		#{cart_no},
		#{d_memo},
		#{amount});
	</insert>
	<select id="getOrderList" parameterType="String" resultType="OrderListVO">
		    SELECT ol.ord_no,
	           ol.item_no,
	           ol.amount,
	           ol.name,
	           ol.phone,
	           ol.stnum,
	           ol.userAddr,
	           ol.userDaddr,
	           ol.d_memo,
	           ol.regdate,
	           ol.status,
	           ii.fileName
		    FROM orderList ol
		    INNER JOIN item_image ii ON ol.item_no = ii.item_no
		    WHERE ol.mem_id = #{mem_id}
		    ORDER BY ol.regdate DESC;
	</select>


	<select id="getAllOrders" resultType="OrderListVO">
		SELECT ol.*, ii.fileName
		FROM orderList ol
		INNER JOIN item_image ii ON ol.item_no = ii.item_no
	</select>
    
      <select id="findByOrdNo" resultType="OrderListVO">
        SELECT * FROM orderList WHERE ord_no = #{ord_no}
    </select>

    <update id="updateOrder">
        UPDATE orderList SET status = #{status} WHERE ord_no = #{ord_no}
    </update>
</mapper>