<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.campingga.domain.Cart" alias="cart"/>
		<typeAlias type="com.campingga.domain.Coupon" alias="coupon"/>
		<typeAlias type="com.campingga.domain.Gclaim" alias="gclaim"/>
		
	</typeAliases>
</configuration>