<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.campingga.domain.Criteria" alias="criteria"></typeAlias>
		<typeAlias type="com.campingga.domain.ItemVO" alias="itemVO"></typeAlias>
		<typeAlias type="com.campingga.domain.Authority" alias="Authority"></typeAlias>
		<typeAlias type="com.campingga.domain.BillVO" alias="BillVO"></typeAlias>
		<typeAlias type="com.campingga.domain.CartVO" alias="CartVO"></typeAlias>
		<typeAlias type="com.campingga.domain.MemberVO" alias="MemberVO"></typeAlias>
		<typeAlias type="com.campingga.domain.OrderListVO" alias="OrderListVO"></typeAlias>
		<typeAlias type="com.campingga.domain.ReviewVO" alias="ReviewVO"></typeAlias>
		<typeAlias type="com.campingga.domain.ReviewDTO" alias="ReviewDTO"></typeAlias>
	</typeAliases>
</configuration>